<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	<listener class-name="com.icbc.Imoocweb.Util.TestCaseReport"></listener>
	<listener class-name="com.icbc.Imoocweb.Util.TestCaseListenerEmail"></listener>
</listeners>
  <test name="Test.xml"  preserve-order="true">
    <classes>
      <class name="com.icbc.Imoocweb.Case.ManagerCase">
      		<methods>
      			<exclude name="OpenManagerPageCase"></exclude>
      			<exclude name="AddBankManagerCase"></exclude>
      			<exclude name="SearchManagerCase"></exclude>
      			<exclude name="EditBankManagerCase"></exclude>
      			<exclude name="DeleteManagerCase"></exclude>
      		</methods>
      	</class> 
      	
      	<class name="com.icbc.Imoocweb.Case.EducationCase">
      		<methods>
      			<include name="OpenEducationCase"></include>
      			<include name="AddEducationCase"></include>
      		</methods>
      	</class>
    </classes>
  </test> <!-- Test.xml -->
</suite> <!-- Suite -->
